html {
}
body {
	background:#000;
	color:#FFF; 
	font:12px 'PT Sans Narrow', sans-serif; 
	text-shadow:0 2px 0px #000;
	min-width:960px;
	top:0;
	left:0;
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
}
.ie body {
	filter: dropshadow(color=#000000, offx=0, offy=1);	
}
h1 {
	font-size:68px;
	letter-spacing:-2px;	
	line-height:60px;
	margin:25px 0;
	text-shadow:0 3px 3px #000;
	float: left;
	margin-left:15px;
}
.ie h1 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
	padding-bottom:12px;	
}
h2 {
	text-shadow:0 2px 2px #000;
}
.ie h2 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h3 {
	font-size:25px;
	margin:0.2em 0;
	text-shadow:0 2px 2px #000;
}
.ie h3 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h4 {
	margin-bottom:5px;	
}
p, pre {
	margin:0 0 10px 0; 
}
code {
	text-transform:uppercase !important;
	color:#EEE;	
	border-bottom:1px dotted #666;
}
small {
	background:url(../images/alpha.png);
	background:rgba(0, 0, 0, 0.8) url();	
	border:1px solid #111;
	font-size:15px;
	padding:0 5px;
}
a {
	color:#CF0;
	text-decoration:none;	
}
a:hover {
	color:#BBB;	
} 
#Header {
margin-bottom: 62px;
position: relative;
width: 100%;
height: 119px;
line-height: 118px;
z-index: 1;
}
.wrapper {
margin: 0 auto;
position: relative;
width: 920px;
z-index: 1;
}
#Header ul {
margin: 0px;
position: relative;
top: 46px;
float: right;
}
#Header ul li {
margin-right: 5px;
height: 34px;
line-height: 34px;
list-style-type: none;
float: left;
background: rgba(255, 255, 255, 0.44);
}
#Header ul li a{
width:34px;
height:34px; 
display: inline-block;
}
.twitterIcon, .facebookIcon, .linkedInIcon, .pintrestIcon{
background: url('../images/social-icons.png') -74px 0px;
}
.facebookIcon{
background-position: 10px 0px;
}
.linkedInIcon{
background-position: -245px 0px;
}
.pintrestIcon{
background-position: -331px 0px;
}

#Content h2 {
margin: 0px 0px 65px 0px;
padding: 0px;
text-align: center;
font-size: 48px;
font-weight: 300;
}
#WindowSlide {
margin: 0 auto;
position: relative;
width: 634px;
height: 170px;
display: block;
overflow: hidden;
}
#Mail {
position: absolute;
width: 634px;
top: 0px;
left: 0px;
}
#Content h3 {
text-align: center;
font-size: 24px;
font-weight: normal;
display: block;
clear: both;
}

#subscribe p{
text-align:center;
}
#subscribe input {
background: rgba(255, 255, 255, 0.52); 
color: #000;
font: bold 19px Arial, Helvetica, sans-serif; 
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.68);
vertical-align: middle;
width: 293px;
border: 1px solid rgba(255, 255, 255, 0.76);
padding: 10px;
}
#subscribe input[type="button"]{
background: rgba(255, 255, 255, 1);
width:auto;
padding:10px 25px;
cursor:pointer;
}


.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.countdown {
text-align:center;
}
.styled{
  margin-bottom: 90px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 80px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
  margin:0 25px;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 19px;
  font-weight: normal; 
  text-align: left;
}
footer{
width:100%;
height:30px;
background:rgba(0, 0, 0, 0.64);
position:absolute;
bottom:0px;
}
footer span{
float:right;
margin:10px;
}
@media(max-width:768px){
body {
min-width: initial !important;
}
.wrapper{width:100%;}
}
@media(max-width:420px){
	h1{
	float:initial;
	text-align: center;
	margin-left:0px;
	margin-bottom:0px;
	}
	#Header ul{ 
	top: 0px; 
	float: initial;
	margin: 0 auto;
	position:none;
	display: block; 
	clear: both;
	text-align: center; 
	padding: 0px;
	}
	#Header ul li{
	float:initial;
	display: inline-block;
	}
	#Content h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	font-size: 29px;
	font-weight: 300;
	}
	.styled {
	margin-bottom: 30px;
	}
	#subscribe input{
	width:80%;
	}
	footer{
	position:relative !important;
	}
}
