/* CSS Document for owd template 'solution' */


/* general styling */
* {
	margin: 0;
	padding: 0;
}
html,body {
	height: auto;
	background: #FFF;
	color: #1a3804;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


/* the hyperlinks */
a {
	color: #458023;
	text-decoration: underline;
}
a:hover {
	color: #265b00;
}


/* site specific styling */


/* the container centers the page */
#container {
	width: 740px;
	height: auto;
	margin: 0 auto 0 auto;
}	


/* the topbar that contains the most upper links */
#topbar {
	width: 740px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	text-align: right;
}

/* the links in the topbar are an unordered list, formatted here */
	#topbar ul {
		float: right;
	}
	#topbar li {
		list-style: none;
		display: block;
		width: auto;
		float: left;
	}
	#topbar a {
		text-decoration: none;
		display: block;
		padding: 0 10px 0 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-transform: uppercase;
	}
	#topbar a:hover {
		background: #458023;
		color: #FFF;
	}


/* the header that contains the big image */
#header {
	width: 740px;
	height: 180px;
	background: #458023 url(../images/header.jpg) top left no-repeat;
	position: relative;
}

/* the big title text in the header */
	#header h1 {
		font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
		font-size: 30px;
		font-weight: 100;
		letter-spacing: -1px;
		color: #FFF;
		position: absolute;
		top: 60px;
		left: 20px;
	}

/* the navigationbar in the header */
#navbar {
	position: absolute;
	bottom: 11px;
	right: 6px;
}

/* the links in the navigationbar are an unordered list */
	#navbar ul {
	}
	
	#navbar li {
		list-style: none;
		display: block;
		width: auto;
		float: left;
	}
	#navbar a {
		text-decoration: none;
		display: block;
		padding: 4px 10px 4px 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-transform: uppercase;
	}
	#navbar a:hover {
		background: #458023;
		color: #FFF;
	}
	
/* the core contains all the site contents */
#core {
	width: 740px;
	height: auto;
	margin-top: 5px;
	background: #FFF url(../images/coreback.gif) top left repeat-y;
}

/* the coreleft contains the left part of the core */
#coreleft {
	width: 140px;
	height: auto;
	background: #deebd2;
	float: left;
}

/* the links in coreleft are another unordered list */
	#coreleft ul {
	}
	#coreleft li {
		display: block;
		height: auto;
		width: 136px;
		margin: 2px;
	}
	#coreleft a {
		display: block;
		height: auto;
		padding: 4px;
		width: 128px;
		color: #325d19;
		background: url(../images/readmore_arrow.gif) 97% center no-repeat;
		text-decoration: none;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		border: 0;
	}

	#coreleft a:hover {
		background: #458023 url(../images/readmore_over.gif) 97% center no-repeat;
		color: #FFF;
	}
	
	#coreleft h3 {
		padding: 20px 4px 0 4px;
		font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
		font-size: 18px;
		margin: 0;
	}
	
	#coreleft p {
		padding: 5px;
		margin-top: 0px;
		line-height: 16px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
	}
	

/* the corecenter contains the center part of the core */
#corecenter {
	width: 590px;
	height: auto;
	float: left;
}

	#corecenter h2 {
		font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
		font-size: 20px;
		color: #3e6717;
		padding: 10px 0 0 10px;
	}
	#corecenter p {
		line-height: 20px;
		padding: 0 10px 10px 10px;
		color: #888;
	}
	
	#corecenter ul {
		padding: 20px;
		width: auto;
	}
	#corecenter li {
		list-style: none;
		line-height: 20px;
		border-bottom: 1px solid #DDD;
	}
	#corecenter li a {
		text-decoration: none;
		color: #a6c384;
		display: block;
		height: auto;
		padding: 4px;
	}
	#corecenter li a:hover {
		background: #a6c384;
		color: #000;
	}

/* the footer contains all copyright info etcetera */
#footer {
	clear: both;
	width: 740px;
	height: 30px;
	background: #458023;
	line-height: 30px;
	vertical-align: middle;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
	#footer p {
		color: #FFF;
		padding-right: 20px;
	}
	#footer a {
		color: #FFF;
	}





