/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.wrap{
	margin: 0 auto;
	padding: 10px;
}
/*header*/
.hdr-bg{
	background:url('../images/header.gif')0 0 repeat-x #f3f3f3;
}
.header{
	padding: 0px 0;
}
/*logo*/
.logo{
	text-align:center;
}
.logo h1{
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 2em;
	text-transform:capitalize;
}
.logo h1 span{
	color: #7d7d7d;
}
.logo h1 a{
	color: #e44872;
}
/*menu*/
.drp-dwn{
	margin: 10px 0;
}
.drp-dwn select {
	padding:4px;
	outline:none;
	display: block!important;
	margin-bottom: 2px;
	width: 100%;
	border: 1px solid rgb(250, 182, 195);
	background: #fff;
	color: #7d7d7d;
	cursor: pointer;
}
.search-form form	{
	width:100%;
	float: right;
	background: #DFDFDF;
}
.search-form form input {
	width:54%;
	font-size: 12px;
	color: #838383;
	padding: 9px 10px;
	outline: none;
	position: relative;
	background: none;
	height: 18px;
	border:none;
	box-shadow: none;
	display: inline-block;
	float: left;
	position: relative;
}
.search-form form a {
	position:relative;
	cursor: pointer;
	display: inline-block;
	z-index: 20;
	font-size:14px;
	font-weight:bold;
	line-height: 18px;
	text-transform: capitalize;
	background: #E44872;
	padding: 10px 14px 9px;
	color:#eee;
	float: right;
	font-family: 'Oswald', sans-serif;
}
.search-form form a:hover{
	background:rgb(187, 60, 94);
	color:#fff;
}
/*content*/
.content-bg{
	background:url('../images/content.gif')repeat-x 0 0;
	background-size: 100%;
}
.slider{
	text-align:center;
}
.text{
	font-weight: bold;
	text-align:center;
	color: #fff;
	text-transform:uppercase;
	font-family:"Century Gothic";
}
h2{
	font-size: 1.2em;
}
h3{	
	font-size:2em;
}
h4{
	margin-bottom:5px;
	text-transform:capitalize;
	font-size: 1.2em;
	color: #fff;
}
h5{
	color: #7d7d7d;
	font-size:1.8em;
	text-transform:capitalize;
}
/*spans*/
span{
	color: #fff;
}
/*responsive-grids*/
.span_1_of_4 {
	width: 100%;
}
.span_1_of_3 {
	width: 100%;
}
/*grids*/
.grids h3{
	text-transform:capitalize;
	font-size: 1.4em;
	margin-bottom: 10px;
}
.grids p{
	margin:5px 0 10px;
}
p{
	font-size: 0.9em;
	color: #efefef;
	line-height: 1.5em;	
}
.grids a{
	font-size: 0.8em;
	text-transform: capitalize;
	color:#fff;
	text-decoration:none;
}
.grids a:hover{
	color: rgb(255, 163, 174);
	text-decoration: none;
}
/*footer*/
.footer-bg{
	background: #f4f5f6;
}
.footer p{
	color: #555;
}
.f-list ul{
	margin-top: 5px;
}
.f-list li {
	list-style-image: url(../images/f-icon.png);
	margin-bottom: 8px;
	margin-left: 16px;
}
.f-list li a ,.right a{
	font-size: 0.9em;
	color:#CE4E66;
	vertical-align: top;
}
.f-list li a:hover ,.right a:hover{
	text-decoration:underline;
}
.icon{
	width:26%;
	float: left;
	cursor: pointer;
}
.tweets{
	width:74%;
	float: left;
}
.icon img:hover{
	opacity: 0.9;
}
.left{
	float:left;
}
.right{
	float: right;
}
.btm{
	/*margin-bottom: 10px;*/
}
 .btn a{
 	margin-top:10px;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 14px;
	color: #CE4E66;
	border-radius: 11px;
	padding: 8px 15px;
	background: url('../images/button.gif') left top repeat-x #f4f4f4;
	box-shadow: 0 1px 3px #bebebe;
}
.btn a:hover{
	background: #efefef;
	text-decoration:none;
}
.ftr-bg{
		background:url('../images/footer.gif')repeat-x 0 0;
}
.footer p.w3-link {
	text-align: center;
	color:rgb(252, 225, 230);
	font-size: 0.9em;
}
.footer p.w3-link a {
	color:#fff;
	text-decoration: none;
	font-size: 13px;
}
.footer p.w3-link a:hover{
	text-decoration:underline;
}
/*article*/
h4 a{
	cursor:pointer;
	color: rgb(255, 163, 174);
}
h4 a:hover{
	color: #fff;
}
.btn-group1 a{
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding:6px 16px;
	color: #fae7e9;
	border: solid 1px rgb(184, 73, 91);
	background: #da5867;
}
.btn-group1 a:hover{
	background: rgb(230, 102, 117);
}
.top{
	padding:10px 0;
}
.sidebar {
	margin-top: 10px;
}
.sidebar ul{
	margin-top: 5px;
}
.sidebar ul li{
	color: #fff;
}
.sidebar ul li a{
	font-size: 13px;
	color:#efefef;
	line-height: 1.5em;	
}
.sidebar ul li a:hover{
	color:rgb(255, 189, 202);
}
/*Contact*/
.main {
	background: #fff;
}
.contact{
	padding: 10px;
}
.contact-left{	
}
.contact-right{
	margin-top: 10px;
}
.main h4{
	color: #cd4d66;
}
table{
	width:100%;
}
.map{
	margin-top:10px;
	background:#fff;
	border:1px solid #aaa;
	font-size:12px;
}
.table-form{
	margin-top:4px;
}
.table-form input[type="text"]{
	background: #ffffff;
	width: 90%;
	border: 1px solid rgb(250, 226, 231);
	outline: none;
	padding: 8px;
	margin-top: 10px;
	color: #7d7d7d;
	overflow: hidden;
}
textarea{
	font-family: 'Monda', sans-serif;
	width:90%;
	height:100px;
	padding: 8px;
	margin-top: 10px;
	border: 1px solid rgb(250, 226, 231);
	outline:none;
	color:#7d7d7d;
	resize:none;
	background: #ffffff;
}
.table-form input[type="submit"]{
	margin: 30px 0px 20px 380px;
}
/*contact-form*/
.contact-form{
	margin-top:10px;
}
.contact-form-r{
	float:left;
}
.contact-form form{
	background:none;
}
.contact-form form input[type="button"]{
	border:1px solid rgb(250, 226, 231);
	outline:none;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 14px;
	color: #CE4E66;
	padding: 8px 24px;
	background: url('../images/button.gif') left top repeat-x #f4f4f4;
	box-shadow: 0 1px 3px #bebebe;
	cursor:pointer;
}
.contact-form form input[type="button"]:hover{
	background: #fefefe;
}
/*404*/
.page{
	text-align:center;
}
.page h2{
	font-size: 4em;
	color: #fff;
	text-shadow:0px 2px 0px #555;
	font-family:"Century Gothic";
}
