/* CSS Document */

body{
	background:url(img/bg.jpg) repeat-y top left #121212;
	font:11px Arial, Helvetica, sans-serif normal;
	text-align:left;
	padding:0;
}

h1,h2,h3,h4,h5,h6{
	margin-left:30px;
}

h2{
	color:#FFF;
	background:url(img/h.jpg) no-repeat top left transparent;
	height:50px;
	margin:10px 0 -10px 30px;
	padding:15px 0 0 30px;
}

a{
	color:#EC008C;
	text-decoration:none;
	font-weight:bold;
	margin:0 1px;
	padding:0 2px;
}

a:hover{
	border:1px solid #EC008C;
	margin:0;
}

b{
	color:#000;
	font-size:12px;
}

em,i{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-size:12px;
}

blockquote{
	line-height:16px;
	font-size:12px;
	width:320px;
	margin-left:70px;
	padding:5px 10px;
	border-left:3px solid #EC008C;
	background-color:#EEE;	
}

#main ul{
	list-style:none;
	line-height:19px;
}

#main li{
 	background:url(img/drip.jpg) no-repeat top left transparent;
	padding-left:20px;
}

#main .drip2 li{
 	background:url(img/drip2.jpg) no-repeat top left transparent;
	padding-left:20px;
	margin-left:-10px;
}

#main li img{
 	vertical-align:middle;
	padding-right:10px;
 	border:0;
}

#header{
	background:url(img/header.jpg) no-repeat top left #121212;
	position:absolute;
	top:0;left:0;
	height:144px;
	width:800px;
}

#header h1{
	color:#FFF;
	font:40px Arial, Helvetica, sans-serif lighter;
	text-align:right;
	padding-right:350px;
}

.h1bold{
	font-weight:bolder;
}

#main{
	position:absolute;
	top:144px;left:0;
	width:430px;
	color:#000
}

#main p{
	margin-left:30px;
	line-height:16px;
}

#main img{
	border:2px solid #EC008C;
	padding:2px;
}

#main a.imglink{
	border:none;
	margin:0;
	padding:0;
}

#main a.imglink:hover img.floatright{
	border:4px solid #EC008C;
	margin:4px 0 4px 10px;
	padding:0;
}

#main a.imglink:hover img.floatleft{
	border:4px solid #EC008C;
	margin:4px 10px 4px 0;
	padding:0;
}

img.floatright{
	float:right;
	margin:4px 0 4px 10px;
}

img.floatleft{
	float:left;
	margin:4px 10px 4px 0;
}

#sidebar{
	position:absolute;
	top:144px;left:470px;
	width:200px;
	color:#FFF;
}

#sidebar h3{
	color:#FFF;
	background-color:#EC008C;
	letter-spacing:1px;
	margin:0 0 -10px 0;
	padding:2px 4px;
}

#sidebar ul{
	color:#FFF;
	list-style-type:none;
	list-style-image:none;
	margin-left:-42px;
}

#sidebar li{
	line-height:18px;
}

#sidebar a{
	color:#FFF;
}

#sidebar a:hover,.blogfoot a:hover{
	border:1px solid #FFF !important;
}

#sidebar p{
	line-height:16px;
}

.poptitle{
	font-size:12px;
}

.popcom{
	color:#EC008C;
}

.menu ul{
	position:absolute;
	top:113px;
	margin-left:-30px;
	line-height:normal;
 	list-style-image:none;
}

.menu li{
	display:inline;
	list-style-type:none;
	font-size:24px;
	font-weight:bolder;
	padding-left:10px;
}

.menu a{
	color:#FFF;
	text-decoration:none;
	padding:40px 0 0 0;
	margin:0;
}

.menu a:hover{
	background:url(img/splat.gif) top center no-repeat transparent;
	border:0;
}

.blogline{
	background-color:#EC008C;
	color:#FFF;
	padding:4px 0;
	font-weight:bold;
	position:relative;
	top:-20px;
	margin-bottom:-20px;
}

.blogitem{
	padding:1px 10px;
}

.blogitem a{
	color:#FFF;
}

.blogitem a:hover,.blogitem a:hover .hidelink{
	color:#FFF;
	border:0;
	margin:1px;
}

.hidelink{
	color:#EC008C;
	font-weight:normal;
}

.blogfoot{
	position:relative;
	top:0;
	text-align:right;
	margin-bottom:20px;
}

.blogfoot a{
	margin:2px;
}

.footer{
	color:#FFF;
	background-color:#121212;
	position:relative;
	left:-20px;
	margin:0 -45px 0 0;
	padding:10px;
}